.main-content {
  padding-top: 0px!important;
}

.card-count {
  width: 30px;
  text-align: center;
}

.land-count {
  width: 30px;
  text-align: center;
}

.deck-list-row {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c0c2c5;
}

.mgtp-20  {
  margin-top: 20px;
}

.left {
  float: left;
}